[user]
        name = Kazushi Nakatsuka
        email = k-nakatsuka@paperboy.co.jp
[color]
        diff = auto
        status = auto
        branch = auto
        grep = auto
[push]
        default = current
[alias]
        st = status
        co = checkout
        ci = commit -v
        di = diff
        br = branch
        brd = "!git branch --merged | grep -v '*' | xargs git branch -d"
        puhs = push
        psuh = push
        pus = push
        puh = push
        pl = !git pull && git submodule update --init
